@using MudX.Models
@namespace MudX.Docs

<MudPaper id="@_contentId" Elevation="4" Class="docs-section-content pb-6 mb-0">
    <MudToolBar Class="docs-section-toolbar">
        <MudSpacer />
        <MudButton OnClick="OnShowCode" StartIcon="@(ShowCode ? @Icons.Material.Rounded.CodeOff : Icons.Material.Rounded.Code)" Color="Color.Default" Size="Size.Small">
            @(ShowCode ? "Hide code" : "Show code")
        </MudButton>
        <MudTooltip Text="Online Playground" Arrow="true" Color="Color.Dark" Placement="Placement.Top" Delay="300" Duration="500" ShowOnFocus="false">
            <MudButton OnClick="RunOnTryMudX" StartIcon="@Icons.Material.Rounded.PlayArrow" IconColor="Color.Success" Color="Color.Default" Size="Size.Small">Run</MudButton>
        </MudTooltip>
    </MudToolBar>
    <div class="docs-section-inner pt-3">
        <CascadingValue Name="ContentId" Value="ContentId" IsFixed="true">
            @ChildContent
        </CascadingValue>        
    </div>
</MudPaper>
@if (ShowCode && Codes.Count() > 0)
{
    <MudXCodeDisplay Codes="@Codes" Class="mt-0" />
}

@code {
    private bool _hasCode;
    private string _contentId = $"content-{Guid.NewGuid().ToString()}";
    [Parameter] public IEnumerable<CodeFile> Codes { get; set; } = [];
    [Parameter] public bool ShowCode { get; set; }
    [Parameter, EditorRequired] public required RenderFragment ChildContent { get; set; }

    /// <summary>
    /// The Id of the content
    /// </summary>
    public string ContentId { get => _contentId; }

    private void OnShowCode() => ShowCode = !ShowCode;

    private async Task RunOnTryMudX()
    {
        
    }
}