@inherits LayoutComponentBase

<MudThemeProvider @bind-IsDarkMode="_isDarkMode" Theme="CustomThemes.SilverTheme" />
<MudDialogProvider BackdropClick="false" CloseOnEscapeKey="true" CloseButton="true" />
<MudSnackbarProvider />
<MudPopoverProvider />
<MudXProvider />

<MudLayout>
    <MudAppBar Elevation="4" Fixed=true>
        <MudIconButton Color="Color.Inherit" Icon="@Icons.Material.Outlined.Menu" Edge="Edge.Start" aria-label="Toggle Drawer" OnClick="@(() => _drawer = !_drawer)" />
        <div class="d-flex d-md-none">
            <MudPopover Open="@true" Paper="@false" Class="d-flex d-md-none">
                <MudXTextFieldSearch @bind-Open="_searchOpen" Style="max-width: 350px;margin-top: 32px;" Class="background-textbox" />
            </MudPopover>
        </div>
        <MudButton Class="ml-2" Href="/" Variant="Variant.Text">
            <MudImage Src="/_content/MudX.Docs/images/MudX_Transparent_Logo.png" Alt="An image of the MudX logo!"
                      Style="width: 48px; height: 48px;" Class="mr-5 ml-n2 d-none d-md-flex" />
            <MudText Typo="Typo.h3" Class="mudx-outlined-text mr-5">MudX</MudText>
            <MudText Typo="Typo.h4" Class="mb-n1 d-none d-lg-flex"> for MudBlazor</MudText>
        </MudButton>
        <MudSpacer />
        <div class="d-none d-md-flex">
            <MudXTextFieldSearch @bind-Open="_searchOpen" Style="width: 350px;" Class="background-textbox mr-8" />
        </div>
        <MudTooltip Text="Search the Documentation">
            <MudIconButton Color="Color.Inherit" Icon="@Icons.Material.Outlined.Search" aria-label="Search" OnClick="@(() => _searchOpen = !_searchOpen)" />
        </MudTooltip>
        <MudDivider Vertical="true" />
        <MudTooltip Text="Try MudX Online">
            <MudIconButton Color="Color.Inherit" Target="_blank" Icon="@Icons.Material.Outlined.PlayCircleOutline" aria-label="Run MudX Code Snippets" Href="https://try.arctechonline.tech" />
        </MudTooltip>
        <MudDivider Vertical="true" />
        <MudTooltip Text="Theme Creator">
            <MudIconButton Color="Color.Inherit" Target="_blank" Icon="@Icons.Material.Outlined.ColorLens" aria-label="Theme Creator" Href="https://themes.arctechonline.tech" />
        </MudTooltip>
        <MudDivider Vertical="true" />
        <MudTooltip Text="MudBlazor Primary Site">
            <MudIconButton Color="Color.Inherit" Target="_blank" Icon="@Icons.Custom.Brands.MudBlazor" aria-label="MudBlazor Primary Site" Href="https://mudblazor.com" />
        </MudTooltip>
        <MudDivider Vertical="true" />
        <MudTooltip Text="Toggle Dark Mode">
            <MudIconButton Color="Color.Inherit" Edge="Edge.End" aria-label="Toggle Dark Mode" Icon="@(!_isDarkMode ? Icons.Material.Outlined.WbSunny : Icons.Material.Outlined.NightsStay)"
                           OnClick="@(() => _isDarkMode = !_isDarkMode)" />
        </MudTooltip>
    </MudAppBar>
    <MudDrawer @bind-Open="_drawer" ClipMode="DrawerClipMode.Docked" Variant="DrawerVariant.Responsive" Class="pt-4 pa-2">
        <MainDrawer />
    </MudDrawer>
    <MudMainContent Class="pt-15 pa-4">
        <ErrorBoundary>
            <ChildContent>
                <MudXBreadcrumbs />
                @Body
            </ChildContent>
        </ErrorBoundary>
    </MudMainContent>
</MudLayout>

<CascadingValue Name="IsDarkTheme" Value="@_isDarkMode" IsFixed="false">

</CascadingValue>

@code {
    private bool _isDarkMode = false;
    private bool _drawer = true;
    private bool _searchOpen = false;

    private void Search(string query)
    {
        Console.WriteLine(query);
    }
}