@inherits LayoutComponentBase

<MudThemeProvider @bind-IsDarkMode="_isDarkMode" Theme="CustomThemes.SilverTheme" />
<MudDialogProvider BackdropClick="false" CloseOnEscapeKey="true" CloseButton="true" />
<MudSnackbarProvider />
<MudPopoverProvider />

<MudLayout>
    <MudAppBar Elevation="4" Fixed=true Dense="true">
        <MudIconButton Color="Color.Inherit" Icon="@Icons.Material.Outlined.Menu" Edge="Edge.Start" OnClick="@(() => _drawer = !_drawer)" />
        <MudButton Href="/" Variant="Variant.Text">
            <MudImage Src="/_content/MudX.Docs/images/MudX_Transparent_Logo.png" Alt="An image of the MudX logo!"
                      Style="width: 32px; height: 32px; margin-right: 8px;" />
            <MudText Typo="Typo.h6">
                MudX <span class="mud-warning-text">(</span>for
                MudBlazor<span class="mud-warning-text">)</span>
            </MudText>
        </MudButton>
        <MudSpacer />
        <MudTooltip Text="Try MudX Online">
            <MudIconButton Color="Color.Inherit" Target="_blank" Icon="@Icons.Material.Outlined.PlayCircleOutline" Href="https://try.arctechonline.tech" />
        </MudTooltip>
        <MudDivider Vertical="true" />
        <MudTooltip Text="Theme Manager">
            <MudIconButton Color="Color.Inherit" Target="_blank" Icon="@Icons.Material.Outlined.ColorLens" Href="https://themes.arctechonline.tech" />
        </MudTooltip>
        <MudDivider Vertical="true" />
        <MudTooltip Text="MudBlazor Primary Site">
            <MudIconButton Color="Color.Inherit" Target="_blank" Icon="@Icons.Custom.Brands.MudBlazor" Href="https://mudblazor.com" />
        </MudTooltip>
        <MudDivider Vertical="true" />
        <MudTooltip Text="Toggle Dark Mode">
            <MudIconButton Color="Color.Inherit" Edge="Edge.End" Icon="@(!_isDarkMode ? Icons.Material.Outlined.WbSunny : Icons.Material.Outlined.NightsStay)"
                           OnClick="@(() => _isDarkMode = !_isDarkMode)" />
        </MudTooltip>
    </MudAppBar>
    <MudDrawer @bind-Open="_drawer" ClipMode="DrawerClipMode.Docked" Variant="DrawerVariant.Persistent" Class="pt-4 pa-2">
        <MainDrawer />
    </MudDrawer>
    <MudMainContent Class="pt-12 pa-4">
        <ErrorBoundary>
            <ChildContent>
                <MudXBreadcrumbs />
                @Body
            </ChildContent>
        </ErrorBoundary>
    </MudMainContent>
</MudLayout>

<CascadingValue Name="IsDarkTheme" Value="@_isDarkMode" IsFixed="false">

</CascadingValue>

@code {
    private bool _isDarkMode = false;
    private bool _drawer = true;
}