@using Microsoft.AspNetCore.Components.Routing
@namespace MudX
@inherits MudComponentBase

<div class="mudx-toc-document" @attributes="@UserAttributes">

    @* This is the actual document that is tracked *@
    <MudContainer MaxWidth="MaxWidth.Large">
        <div id="@_tocId" class="mudx-toc-content">
            <CascadingValue Value="this" IsFixed="true">
                @ChildContent
            </CascadingValue>
        </div>
    </MudContainer>

    @if (ScrollToTopVisible)
    {
        <MudScrollToTop Visible="true" />
    }
</div>

@* This is the clickable scroll tracking Table Of Contents *@
<MudDrawer Class="mudx-toc-nav-drawer"
           @bind-Open="_contentDrawerOpen"
           Breakpoint="@Breakpoint"
           Anchor="@Anchor"
           ClipMode="@DrawerClipMode"
           Elevation="@Elevation"
           Color="Color.Transparent">
    <MudText Typo="Typo.subtitle1" Class="mudx-toc-title" GutterBottom="true">
        @Headline
    </MudText>
    <div class="@GetNavLinksClass">
        @foreach (var docSection in _sections.OrderBy(x => x.LevelSortingValue))
        {
            <MudNavLink @key="docSection._id"
                        Match="NavLinkMatch.All"
                        Class="@GetNavLinkClass(docSection)"
                        OnClick="@(e => OnNavLinkClick(docSection.SectionId))">
                @docSection.Title
            </MudNavLink>
        }
    </div>
</MudDrawer>