@namespace MudX
@inherits MudComponentBase

@((MarkupString)ContainerClass)

<div @ref="@_elementRef" id="@Id" class="@($"mudx-code-container {Class}")" @attributes="@UserAttributes">
    <MudStack Row="@Horizontal"
              Justify="Justify.SpaceBetween"
              Spacing="@Spacing">
        @foreach (var item in CodeItems.OrderBy(x => x.Index))
        {
            <MudTextField InputId="@item.InputId" Class="@CodeClassname"
                          MaxLength="1" FullWidth="false"
                          @bind-Value="@item.Value"
                          @bind-Value:after="@(() => OnAfterChange(item.Index))"
                          Immediate="true"
                          UserAttributes="@_attributes"
                          InputType="@(Password ? InputType.Password : InputType.Text)"
                          InputMode="@(item.PatternChar == PlaceholderNumeric ? InputMode.numeric : InputMode.text)"
                          Variant="@(!item.IsEditable ? Variant.Text : Variant)"
                          Margin="@Margin"
                          Underline="@(item.IsEditable ? Underline : false)"                          
                          OnKeyDown="@(e => OnKeyDown(item.Index, e))"                          
                          ReadOnly="!item.IsEditable" />
        }
    </MudStack>
</div>