
<MudStack Row AlignItems="AlignItems.Center" Justify="Justify.SpaceEvenly" Breakpoint="Breakpoint.Md">
    <div class="docs-stack-col">
        <MudSelect T="Anchor" Label="TOC Anchor" @bind-Value="@_outlineAnchor">
            <MudSelectItem Value="Anchor.Left">Left</MudSelectItem>
            <MudSelectItem Value="Anchor.Right">Right</MudSelectItem>
        </MudSelect>
    </div>
    <div>
        <MudSelect T="OutlineStyleVariant" Label="Variant" @bind-Value="@_outlineStyleVariant">
            <MudSelectItem Value="OutlineStyleVariant.None">None</MudSelectItem>
            <MudSelectItem Value="OutlineStyleVariant.Minimal">Minimal</MudSelectItem>
            <MudSelectItem Value="OutlineStyleVariant.Bullet">Bullet</MudSelectItem>
            <MudSelectItem Value="OutlineStyleVariant.Scroll">Scroll</MudSelectItem>
        </MudSelect>
    </div>
    <div>
        <MudSwitch Label="Underline" @bind-Value="@_underline" />
    </div>
</MudStack>

<MudXOutline Width="@_width" Anchor="@_outlineAnchor"
             StyleVariant="@_outlineStyleVariant" UnderlineActiveSections="@_underline">
    <MudXOutlineSection Title="Item 7">
        <MudText Typo="Typo.h6">Item 7</MudText>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        <br /><br /><br /><br /><br />
    </MudXOutlineSection>
    <MudXOutlineSection Title="Item 8">
        <MudText Typo="Typo.h6">Item 8</MudText>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        <br /><br /><br /><br /><br />
    </MudXOutlineSection>
    <MudXOutlineSection Title="Item 9">
        <MudText Typo="Typo.h6">Item 9</MudText>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        <br /><br /><br /><br /><br />
    </MudXOutlineSection>
</MudXOutline>

@code {

    private Anchor _outlineAnchor = Anchor.Right;
    private int _width = 200;
    private OutlineStyleVariant _outlineStyleVariant = OutlineStyleVariant.Minimal;
    private bool _underline = false;
}